.Container {
  box-sizing: border-box;
  overflow: scroll;
  margin: 20px auto;
  width: 80%;
  /* disable scrollbar for all browsers */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Container::-webkit-scrollbar {
  display: none;
}

.ShowMore {
  text-align: center;
  color: #fff;
  margin-top: 2px;
}

.DownArrow {
  background-color: #6d76f7;
  padding: 1px 4px 0px 4px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s ease-in-out;
}

.DownArrow:hover {
  color: rgb(61, 53, 131);
  background: #fff;
}

.DownArrowDisabled {
  border: 1px solid #6d76f7;
  border-radius: 12px;
  font-size: 20px;
  padding: 1px 4px 0px 4px;
}
