.Container {
  max-height: 90vh;
  box-sizing: border-box;
  overflow: scroll;
  margin: 10px;
}
.Container::-webkit-scrollbar {
  display: none;
}

.Loading {
  display: block;
  font-size: 2em;
  text-align: center;
}
