.Container {
  padding: 20px;
  max-height: 100vh;
  box-sizing: border-box;
  overflow: scroll;
}
.Container::-webkit-scrollbar {
  display: none;
}

.Loading {
  display: block;
  font-size: 2em;
  text-align: center;
  margin: 10px 0;
}
