.button {
  border: none;
  outline: none;
  width: 180px;
  padding: 8px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #603bbb;
}
.button:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #6568f4;
  transition: 250ms;
}

.button:disabled {
  border: 1px solid #999999;
  background-color: #8557571f;
  color: #666666;
  cursor: auto;
}

.ButtonContainer {
  padding: 6% 0px 2% 0px;
  text-align: center;
}

.NewPost {
  margin: 20% 4%;
  display: flex;
}

.NewPost .NewPostContainer {
  padding: 60px 60px 0px 60px;
  margin: auto;
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  );
}

.NewPost .NewPostContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.NewPost .NewPostContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.NewPost .NewPostContainer input::-webkit-input-placeholder {
  font-size: 14px;
}

.NewPost .NewPostContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.NewPost .NewPostContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.NewPost .NewPostContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.NewPost .NewPostContainer .btnContainer p span:hover {
  color: red;
}

.NewPost .NewPostContainer .errorMsg {
  color: red;
  font-size: 16px;
}
