.Container {
  text-align: center;
  list-style-type: none;
  color: #fff;
  background: radial-gradient(
    ellipse at bottom,
    rgba(61, 53, 131, 0.9),
    rgba(24, 19, 73, 0.9)
  );
  margin: 2% 30px;
}

.Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.Col {
  border: 1px solid rgb(157, 187, 243);
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.Title {
  font-size: 1.5rem;
  background: rgb(61, 53, 131);
}
