.Container {
  text-align: center;
  list-style-type: none;
  color: #fff;
  background: radial-gradient(
    ellipse at bottom,
    rgba(61, 53, 131, 0.9),
    rgba(24, 19, 73, 0.9)
  );
  position: absolute;
  left: 50%;
  top: 70px;
  transform: translate(-50%);
  width: 90%;
  max-width: 1200px;
  border: 1px solid rgb(157, 187, 243);
  border-radius: 10px;
}

.Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 15px 0px 15px;
  text-align: left;
}

.Col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.Title {
  font-size: 1.5rem;
  background: rgb(61, 53, 131);
  border: 1px solid rgb(157, 187, 243);
  border: 1px solid rgb(157, 187, 243);
  padding-left: 7px;
}
