.Link {
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  transform: translate(2%, 10%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 85%;
}

.iframeContainer {
  position: relative;
}

.iframe {
  width: 100%;
  height: calc(100vh - 117px);
  border: none;
  border-top: 1px solid rgb(157, 187, 243);

  border-bottom: 1px solid rgb(157, 187, 243);

  display: block;
}

/* Gauges bottom stays fixed on the bottom of the iframe, Gauge responsively resizes with limitations */
.Gauge {
  max-width: 250px;
  width: 30%;
  background: radial-gradient(
    ellipse at bottom,
    rgba(61, 53, 131, 0.9),
    rgba(24, 19, 73, 0.9)
  );
  border-top: 1px solid rgb(157, 187, 243);
  border-right: 1px solid rgb(157, 187, 243);
  border-top-right-radius: 10px;
  position: absolute;
  bottom: 0;
  pointer-events: none;
}

.Dots {
  float: right;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
  top: 4px;
  right: 3px;
  cursor: pointer;
  transition: 0.5s ease;
}

.Dots:after {
  content: "\22EE";
  font-size: 24px;
  font-weight: 800;
  color: white;
  position: absolute;
  top: -6px;
  left: 8px;
}

.Dots:hover {
  background-color: #6d76f7;
}

.MoreInfo {
  color: #fff;
  width: 100%;
  background: rgb(74, 72, 122);
  text-decoration: none;
}

.MoreInfoEl {
  border-top: 1px solid #6d76f7;
  padding-left: 2%;
  word-break: break-all;
}

a {
  color: #fff;
}
a:hover {
  color: rgb(167, 172, 243);
}
