html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(
    ellipse at bottom,
    rgba(61, 53, 131, 0.9),
    rgba(24, 19, 73, 0.9)
  );
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
