html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    90deg,
    rgb(110, 94, 254),
    rgba(73, 63, 252, 1) 100%
  );
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  min-height: 100%;
  background-color: #e9ecec;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
