html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(#7c8cc0, #515ccf 100%);
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  min-height: 100%;
  background-color: #e9ecec;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
