.PostCardContainer {
  border: 1px solid rgb(206, 223, 255);
  background: radial-gradient(rgb(64, 62, 126), rgb(61, 53, 131));
  text-align: center;
}

.PostCardContainer:hover {
  background: rgb(74, 72, 122);
}

.Link {
  color: #fff;
  text-decoration: none;
  position: relative;
  top: 50%;
  font-size: 16px;
  transform: translateY(30%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 90%;
  margin: 0;
}

.Gauge {
  max-width: 125px;
  min-width: 125px;
  display: inline-block;
  width: 10%;
  margin-left: auto;
  margin-right: 0;
  text-overflow: ellipsis;
  position: relative;
  top: 50%;
  transform: translateY(5%);
}
